#add{
    border: none;
    outline: none;
    background: transparent;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
#btn{
    width: 100px;
    height: 55px;
    border: none;
    outline: none;
    background: #ff5945;
    color:#fff;
    border-radius: 20px;
    font-size: 20px;
}
#input-box{
    width: 360px;
    padding: 0;
    border-radius: 20px;
    background-color: rgb(249, 248, 247);
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
   
   
    background-color: antiquewhite;
}
#container2{
    padding:10px 10px 60px 20px;
    border-radius: 10px;
    background-color:white; ;
}
#ft{
    font-size: 30px;
}

.taskStyle{
    width: 280px;
    display: inline-block;
    background-color:rgb(231, 222, 222);
    border-radius:10px;
    padding:10px;
    margin-top:10px;
   
}
    /* content:url("radioChecked.png"); */
    /* background: url(radioChecked.png); */
.flipImage{
    background-color:rgb(198, 192, 192);
    text-decoration: line-through;
  }
.crossLogo{
    width: 45px;
    position: relative;
    /* right:20px; */
    top:12px;
    right: 0px;

}